src/test/munit/groovy-registry-lookup-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

    <munit:config name="n.xml"/>

    <flow name="testflow" initialState="started">
        <set-variable value="Hello" variableName="bar"/>
    </flow>

    <munit:test name="AccessingRegistryTestCase">
        <munit:execution>
            <scripting:execute engine="groovy">
                <scripting:code>
                    flow = registry.lookupByName("testflow").get();
                    flow.stop()
                </scripting:code>
            </scripting:execute>
            <try>
                <flow-ref name="testflow"/>
                <error-handler>
                    <on-error-continue type="ANY">
                        <set-payload value="#[{'errorDescription' : error.description}]" />
                    </on-error-continue>
                </error-handler>
            </try>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[payload.errorDescription]" is="#[MunitTools::equalTo('Cannot process event as &quot;testflow&quot; is stopped')]"/>
        </munit:validation>
    </munit:test>


</mule>
