src/test/munit/only-nashorn.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

    <munit:config name="new-test.xml" />

    <munit:test name="groovy-not-found" description="Expect error since there is only nashorn engine">
        <munit:execution>
            <flow-ref name="execute-groovy-script"/>
        </munit:execution>
        <munit:validation >
            <munit-tools:assert-that expression="#[payload.message]" is="#[MunitTools::equalTo('Engine groovy is not available')]"/>
        </munit:validation>
    </munit:test>
    <munit:test name="nashorn-found" description="Expected a successfully execution">
        <munit:execution>
            <flow-ref name="execute-ECMAscript"/>
        </munit:execution>
        <munit:validation >
            <munit-tools:assert-that expression="#[payload.message]" is="#[MunitTools::equalTo('Success')]"/>
        </munit:validation>
    </munit:test>


    <flow name="execute-groovy-script">
        <scripting:execute engine="groovy">
            <scripting:code >return new ArrayList()</scripting:code>
            <scripting:parameters ><![CDATA[#[{payload : payload}]]]></scripting:parameters>
        </scripting:execute>
        <error-handler >
            <on-error-continue type="SCRIPTING:UNKNOWN_ENGINE">
                <set-payload value="#[{ message : 'Engine groovy is not available'}]" />
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="execute-ECMAscript">
        <scripting:execute engine="ECMAScript">
            <scripting:code >payload = {message : 'Success'}</scripting:code>
            <scripting:parameters ><![CDATA[#[{payload : payload}]]]></scripting:parameters>
        </scripting:execute>
    </flow>
</mule>
