src/test/munit/scripting-engines-test-cases.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

    <munit:config name="nashorn-script-test-case.xml" />

    <munit:test name="NashornScriptTest">
        <munit:execution >
            <flow-ref name="nashorn"/>
        </munit:execution>
        <munit:validation >
            <munit-tools:assert-equals actual="#[payload]" expected="hello world"/>
        </munit:validation>
    </munit:test>

    <munit:test name="EcmaScriptTest">
        <munit:execution >
            <flow-ref name="ecma"/>
        </munit:execution>
        <munit:validation >
            <munit-tools:assert-equals actual="#[payload]" expected="hello world"/>
        </munit:validation>
    </munit:test>


    <munit:test name="GraalScriptTest">
        <munit:execution >
            <flow-ref name="graal"/>
        </munit:execution>
        <munit:validation >
            <munit-tools:assert-equals actual="#[payload]" expected="hello world"/>
        </munit:validation>
    </munit:test>

    <flow name="nashorn">
        <scripting:execute engine="Nashorn">
            <scripting:code><![CDATA[tempPayload = "hello"; var world = " world"; tempPayload = tempPayload + world]]></scripting:code>
        </scripting:execute>
    </flow>

    <flow name="ecma">
        <scripting:execute engine="ECMAScript">
            <scripting:code><![CDATA[tempPayload = "hello"; var world = " world"; tempPayload = tempPayload + world]]></scripting:code>
        </scripting:execute>
    </flow>

    <flow name="graal">
        <scripting:execute engine="graal.js">
            <scripting:code><![CDATA[tempPayload = "hello"; var world = " world"; tempPayload = tempPayload + world]]></scripting:code>
        </scripting:execute>
    </flow>


</mule>