src/test/munit/scripting-bindings.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

    <munit:config name="streaming-bindings.xml" />

    <munit:test name="BindingTest" description="This test will fail if any binding disappears">
        <munit:execution >
            <try>
                <flow-ref name="BindingsFlow"/>
                <error-handler>
                    <on-error-continue>
                        <set-payload value="#[error.description]" />
                    </on-error-continue>
                </error-handler>
            </try>
        </munit:execution>
        <munit:validation >
            <munit-tools:assert-that expression="#[payload]" is="#[MunitTools::equalTo('All bindend')]"/>
        </munit:validation>
    </munit:test>

    <flow name="BindingsFlow" >
        <scripting:execute engine="groovy">
            <scripting:code >
                payload
                itemSequenceInfo
                dataType
                correlationId
                attributes
                vars
                message
                error
                authentication
                flow
                log
                result
                registry
                return "All bindend"
            </scripting:code>
        </scripting:execute>
    </flow>
</mule>



